<div #galleryContainer class="galleryContainer" [id]="uuid">
    <div class="innerGalleryContainer">
        <div *ngFor='let imgrow of gallery; let i = index'
             class="imagerow"
             [style.margin-bottom.px]="calcImageMargin()">
            <div *ngFor='let img of imgrow; let j = index' class="imageContainer"
                 [style.margin-right.px]="calcImageMargin()"
                 [style.width.px]="img['width']"
                 [style.height.px]="img['height']">
                <i class="fa fa-close remove-media" (click)="removeMedia(img)" *ngIf="canRemoveImage"></i>
                <div (click)="openImageViewer(img)" #imageElement *ngIf="img.Url.includes('.mp4') || img.Url.includes('.MP4')" [ngClass]="{'play-icon-container-show' : !viewerShown, 'play-icon-container-hide': viewerShown}" [style.width.px]="img['width']" [style.height.px]="img['height']">
                    <i class="fa fa-play-circle fa-4x"></i>
                </div>
                <img *ngIf="!img.Url.toLowerCase().includes('mp4')" (click)="openImageViewer(img)" #imageElement [src]="img['srcAfterFocus']"/><!--class="thumbnail"-->
            </div>

        </div>
    </div>
</div>

<viewer></viewer>
