/* Image gallery */
::-webkit-scrollbar {
    display: none;
}


.innerGalleryContainer {
    position: relative;
}

.galleryContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.galleryContainer .imageContainer:last-child {
    /* important to overwrite inline css and prevent chrome flickering bug */
    margin-right: -1px !important;
}

.galleryContainer img:hover {
    /*-webkit-filter: brightness(50%);*/
    /*filter: brightness(50%);*/
    /*transition: all ease-out 0.2s;*/
    cursor: pointer;
}

.imagerow {
    margin-right: 1px;
    overflow: hidden;
    display: flex;
}

.imageContainer {

}
.imageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.asyncLoadingContainer {
    position: absolute;
    background-color: transparent;
    height: 0;
    width: 0;
    bottom: 120px;
}

div.play-icon-container-show {
    background:rgba(0,0,0,0.5);
    z-index:9999;
    position: absolute;
    color: #fff;
    text-align: center;
}

div.play-icon-container-hide {
    background:rgba(0,0,0,0.5);
    z-index:-1;
    position: absolute;
    color: #fff;
    text-align: center;
}

div.play-icon-container-show i {
    opacity: 0.5;
    top: calc(50% - 40px);
    position: relative;
}

i.remove-media {
    position: relative;
    color: white;
    font-size: 24px;
    top: 28px;
    left: 250px;
    cursor: pointer;
}